In [102]:
df = parse('pokemon_jay.csv')

In [103]:
species_count(df)

74

42    True
Name: name, dtype: bool

In [112]:
max_level(df)

(42    Victreebel
 Name: name, dtype: object, 42    100
 Name: level, dtype: int64)

In [114]:
filter_range(df, 60, 70)

['Seaking',
 'Vaporeon',
 'Spearow',
 'Rapidash',
 'Lickitung',
 'Vaporeon',
 'Doduo',
 'Clefairy',
 'Starmie',
 'Moltres']

In [118]:
highest_stage_per_type(df)

{'bug': 3,
 'electric': 1,
 'fairy': 1,
 'fighting': 2,
 'fire': 3,
 'flying': 3,
 'ghost': 3,
 'grass': 3,
 'ground': 2,
 'normal': 2,
 'poison': 3,
 'psychic': 2,
 'rock': 2,
 'water': 2}

In [117]:
count_types(df)

{'bug': 3,
 'electric': 1,
 'fairy': 3,
 'fighting': 3,
 'fire': 13,
 'flying': 6,
 'ghost': 3,
 'grass': 15,
 'ground': 4,
 'normal': 8,
 'poison': 10,
 'psychic': 4,
 'rock': 6,
 'water': 20}

In [173]:
def max_level(df):
    x = df.loc[(df['level'] == max(df['level']))][]
    return x[x.index]

In [192]:
df[df['level'] == max(df['level'])].index[0]

42

In [194]:
vv = df[df['level'] == max(df['level'])].iloc[0,:]

In [195]:
vv['name']

'Victreebel'

In [174]:
x = max_level(df)
type(x)

pandas.core.frame.DataFrame

In [179]:
x.index

Int64Index([42], dtype='int64')

In [182]:
x[]

    id        name  level personality   type weakness  atk  def  hp  stage
42  71  Victreebel    100      gentle  grass     fire  185  190  89      3

In [181]:
x.loc[x.index,:]

    id        name  level personality   type weakness  atk  def  hp  stage
42  71  Victreebel    100      gentle  grass     fire  185  190  89      3

In [122]:

import pandas as pd


# Write your functions here!
def parse(file_name):
    return pd.read_csv(file_name, header=0)


def species_count(df):
    return len(pd.unique(df.loc[:,'name']))

def max_level(df):
    x = df.loc[df['level'] == max(df['level'])]
    return (x['name'], x['level'])
    
def filter_range(df, min, max):
    return df[(df['level'] >= min) & (df['level'] < max)]['name'].tolist()

def mean_attack_for_type(df, type):
    atk = df[df['type'] == type]['atk']
    return atk.mean()

def count_types(df):
    type_df = df.groupby(by = 'type').apply(len)
    result = {}
    for type, num in type_df.items():
        result[type] = num
    return result

def highest_stage_per_type(df):
    stage_df = df.groupby('type')['stage'].apply(max)
    result = {}
    for type, stage in stage_df.items():
        result[type] = stage
    return result

def mean(values):
    return sum(values)/ len(values)


def mean_attack_per_type(df):
    df = df.groupby('type')['atk'].apply(mean)
    result = {}
    for key, value in df.items():
        result[key] = round(value, 2)
    return result

In [143]:
def count_types(df):
    type_df = df.groupby(by='type').apply(len)
    result = {}
    for type, num in type_df.items():
        result[type] = num
    return result

In [149]:
count_types(df)

{'bug': 3,
 'electric': 1,
 'fairy': 3,
 'fighting': 3,
 'fire': 13,
 'flying': 6,
 'ghost': 3,
 'grass': 15,
 'ground': 4,
 'normal': 8,
 'poison': 10,
 'psychic': 4,
 'rock': 6,
 'water': 20}

In [140]:
def count_types(data):
    result = {}
    for i in enumerate(data):
        print(i)
#         p_type = i['type']
#         if p_type in result.keys():
#             result[p_type] += 1
#         else:
#             result[p_type] = 1
    return result

In [141]:
df.loc[0,:]

id                   53
name            Persian
level                40
personality        mild
type             normal
weakness       fighting
atk                 104
def                 116
hp                  147
stage                 2
Name: 0, dtype: object

In [142]:
count_types(df)

(0, 'id')
(1, 'name')
(2, 'level')
(3, 'personality')
(4, 'type')
(5, 'weakness')
(6, 'atk')
(7, 'def')
(8, 'hp')
(9, 'stage')

{}

In [123]:
mean_attack_per_type(df)

{'bug': 25.0,
 'electric': 64.0,
 'fairy': 76.33,
 'fighting': 99.67,
 'fire': 99.31,
 'flying': 110.83,
 'ghost': 88.0,
 'grass': 97.0,
 'ground': 110.25,
 'normal': 119.88,
 'poison': 123.7,
 'psychic': 127.75,
 'rock': 88.17,
 'water': 101.8}

In [86]:
highest_stage_per_type(df)

{'bug': 3,
 'electric': 1,
 'fairy': 1,
 'fighting': 2,
 'fire': 3,
 'flying': 3,
 'ghost': 3,
 'grass': 3,
 'ground': 2,
 'normal': 2,
 'poison': 3,
 'psychic': 3,
 'rock': 3,
 'water': 2}

In [70]:
type_df = df.groupby(by = 'type').apply(len)
type(type_df)

pandas.core.series.Series

In [68]:
count_types(df)

{'bug': 3,
 'electric': 1,
 'fairy': 3,
 'fighting': 3,
 'fire': 15,
 'flying': 6,
 'ghost': 3,
 'grass': 17,
 'ground': 5,
 'normal': 10,
 'poison': 12,
 'psychic': 6,
 'rock': 7,
 'water': 24}

In [56]:
mean_attack_for_type(df,'fire')

99.4

In [35]:
v = max_level(df)
v[1]

42    100
Name: level, dtype: int64

In [95]:
df = parse('pokemon_box.csv')
df.head()

    id      name  level personality      type  weakness  atk  def   hp  stage
0   53   Persian     40        mild    normal  fighting  104  116  147      2
1  126    Magmar     44      docile      fire     water   96   83  153      1
2   99   Kingler     33     adamant     water  electric  110  169   29      2
3   57  Primeape      9      lonely  fighting    flying   20   66   43      2
4    3  Venusaur     44       sassy     grass      fire  136  195   92      3